body,html {
    margin:0;
    padding:0;
    overflow:hidden;
    background:#000;
    font-family:Tahoma;
}

#gameCanvas {
    width:100vw;
    height:100vh;
    display:none;
    background:#050b18;
}

#hud {
    position:fixed;
    top:10px;
    left:10px;
    color:white;
    font-size:20px;
    display:none;
}

#hyperbar {
    width:150px;
    height:10px;
    background:#333;
    margin-top:10px;
}

#hyperfill {
    width:0%;
    height:100%;
    background:#ffd24d;
}

#startScreen{
    position:fixed;
    width:100%;
    height:100%;
    background:#02040a;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

#startBtn{
    margin-top:20px;
    font-size:22px;
    padding:14px 25px;
}
